<th:block th:fragment="modal-history-transfer">

  <div class="modal fade" id="mdHistoryTransfer" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
       data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal History Transfer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table id="tbHistoryTransfer" class="table table-hover">
            <thead>
            <tr>
              <th>STT</th>
              <th>Người chuyển</th>
              <th>Email người chuyển</th>
              <th>tiền chuyển</th>
              <th>Tổng tiền trừ</th>
              <th>Người nhận</th>
              <th>Email người nhận</th>

            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</th:block>